# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Matilde Barra\Desktop\FEUP\3ANO_2SEMESTRE\COMP\comp2022-7a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
